<mat-card class="forgot-password-container">
  <div class="image-section">
    <img src="assets/pages/Forgot password.png" alt="Forgot Password" />
  </div>
  <div class="form-section">
    <h2>Forgot Password</h2>
    <form #forgotPasswordForm="ngForm" (ngSubmit)="requestReset()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="pat@example.com" type="email" [(ngModel)]="email" name="email"
          #emailField="ngModel" required email />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="emailField.invalid && emailField.touched">
          Please enter a valid email.
        </mat-error>
      </mat-form-field>
      <button mat-button type="submit" class="resetPassword-btn" [disabled]="forgotPasswordForm.invalid">
        Reset Password
      </button>
    </form>
  </div>
</mat-card>