.app-footer {
    padding: 10px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-content div {
    margin-left: 20px;
    flex: 1;
}

.footer-nav a,
.legal-info a,
.social-media a,
.quick-actions a {
    display: block;
    margin-bottom: 10px;
    color: #00adbd;
    font-weight: 600;
    text-decoration: none;
}

.footer-nav a:hover,
.legal-info a:hover,
.social-media a:hover,
.quick-actions a:hover {
    text-decoration: underline;
    color: #004d63;

}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}